<h1>Individual Event Listing</h1>
<% event %>

<div >
  <p>Organizer: <%= event.organizerName%></p>
  <p>EventName: <%= event.eventName %> </p>
  <p>EventType : <%= event.typeOfEvent%></p>
  <p>Description: <%= event.description%></p>
  <p>Date: <%= event.startDate%></p>
  <p>Location: <%= event.location%></p>
  <p>AvailableSlots: <%= event.numberOfSpots %></p>
  <p>Status: <%= event.status%></p>
</div>

<div class = 'container'>
<h2>Other Attendees</h2>

<% event.attendees.forEach(function (item, index) {%>
  <%= item %>
<% }) %>

</div>

<form  action="/public/events/event/<%= event.id%>/joinevent?_method=PUT" method="POST">
<input type="submit" value="Join">
</form>
