<% event %>

<div class="container">
  <h1>Individual Event Listing</h1>
  <p>Organizer: <%= event.organizerName%></p>
  <p>EventName: <%= event.eventName %> </p>
  <p>EventType : <%= event.typeOfEvent%></p>
  <p>Description: <%= event.description%></p>
  <p>Date: <%= event.startDate%></p>
  <p>Location: <%= event.location%></p>
  <p>AvailableSlots: <%= event.numberOfSpots %></p>
  <p>Status: <%= event.status%></p>
</div>

<div class = 'container'>
<h2>Number of Attendees</h2>

<p><%= event.attendees.length %></p>

</div>
