<h1>Events</h1>
<% event %>

<div>
 <% event.forEach(function(eachEvent){ %>
   <p>Organizer: <%= eachEvent.organizerName%></p>
   <p>Event Name: <%= eachEvent.eventName %> </p>
   <p>Event Date: <%= eachEvent.startDate%></p>
   <p>Event Type : <%= eachEvent.typeOfEvent%></p>
   <p>Description: <%= eachEvent.description%></p>
   <p>Location: <%= eachEvent.location%></p>
   <p>Number of Spots: <%= eachEvent.numberOfSpots %></p>
   <p>Number of Attendees: <%= eachEvent.attendees.length %></p>
   <p>Status: <%= eachEvent.status%></p>
   <form  action="/public/events/event/<%= eachEvent._id%>/joinevent?_method=PUT" method="POST">
   <button type="submit" value="Join this event" class="btn btn-default">Join this event</button>
   </form>
 <% }) %>
</div>
