<h1>Events</h1>
<% event %>

<div>
 <% event.forEach(function(eachEvent){ %>
   <p>Organizer: <%= eachEvent.organizerName%></p>
   <p>EventName: <%= eachEvent.eventName %> </p>
   <p>EventType : <%= eachEvent.typeOfEvent%></p>
   <p>Description: <%= eachEvent.description%></p>
   <p>Date: <%= eachEvent.startDate%></p>
   <p>Location: <%= eachEvent.location%></p>
   <p>AvailableSlots: <%= eachEvent.numberOfSpots %></p>
   <p>Status: <%= eachEvent.status%></p>
   <p>Attendees: <%= eachEvent.attendees%></p>
 <% }) %>
</div>

<form  action="/public/events/event/<%= event.id%>/joinevent?_method=PUT" method="POST">
<input type="submit" value="Join">
</form>
