<div class="container">
  <% event %>
  <h1>All Events</h1>
    <table class='table'>
      <thead>
        <tr>
          <th>Organizer</th>
          <th>Event Name</th>
          <th>Date</th>
          <th>Description</th>
          <th>Number of Available Spots</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% event.forEach(function(eachEvent){ %>
          <tr>
          <td><%= eachEvent.organizerName%></td>
          <td><%= eachEvent.eventName %> </td>
          <td><%= eachEvent.startDate%></td>
          <td><%= eachEvent.description%></td>
          <td><%= eachEvent.numberOfSpots %></td>
          <td><%= eachEvent.status%></td>
          <td><form action="/public/events/event/<%= eachEvent._id%>/joinevent?_method=PUT" method="POST">
          <button type="submit" value="Join this event" class="btn btn-default">Join this event</button>
          </form>
          </td>
          </tr>
          <% }) %>
      </tbody>
    </table>
</div>
